<h2>Homepage</h2>

<% if session[:success] %>
  <p class="message"><%= session.delete(:success) %></p>
<% end %>

<p><a href="/new">New Document</a></p>

<ul>
  <% @files.each do |file_path| %>
  <li>
    <a href="/<%= base_name(file_path) %>"><%= base_name(file_path) %></a>
    <a href="/<%= base_name(file_path) %>/edit">edit</a>
    <form action="/files/delete/<%= base_name(file_path) %>" method="post" class="inline">
      <input type="submit" name="delete_doc" value="delete">
    </form>
  </li>
  <% end %>
</ul>
